@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  color: #dcdcdc;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.button-grediant {
  background: linear-gradient(251.38deg, #00a868 0%, #00e0ff 99.76%);
}

.greenblue {
  background: #a7cfdf;
  background: linear-gradient(to right, #00e0ff 0%, #00a868 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sideBar {
  display: none;
}

.closeBar {
  display: block;
}

.hero-wrapper {
  min-height: calc(100vh - 85px);
}

.swapBTN {
  transition: 0.5s;
}

/* .scrollTop {
  transition: all 0.4s ease;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.to-top {
  transition: all 0.4s;
  opacity: 0;
  pointer-events: none;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

html {
  scroll-behavior: smooth;
  transition: 0.5s;
}

.join-div {
  height: calc(100vh - 20vh);
  background-size: 1200px;

  @media (max-width: 800px) {
    background-size: 900px;
    height: 70vh;
  }
}

.custom-button{
  transition: 0.5s;
}